@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --primary: #EE9591;
        --foreground: #333333;
        --background: #F4F5F7;
        --muted: #F9F1E7;
        --blue: #007AFF;
        --foreground-muted: #555555;
        --pink: #FF2D55;

        --foreground-pink: #EE9591;
        --foreground-purple: #AF52DE;
        --foreground-blue: #007AFF;

        --bg-pink: #EE9591;
        --bg-purple: #AF52DE;
        --bg-blue: #1E2FA9;

        --border-pink: #EE9591;
        --border-purple: #AF52DE;
        --border-blue: #007AFF;
        --border-muted: #555555;
        --px-xs: 0.75rem;
        --px-sm: 1rem;
        --px-md: 1.75rem;
        --px-lg: 2rem;
    }

    body{
        background-color: white;
    }

    .home-gradient{
        background: linear-gradient(white, #44AEE8 23%, white 55%, var(--primary) 75%, var(--pink) )
    }
}

.gradient-background{
    background: linear-gradient(to bottom right, var(--bg-pink) 30% ,white 70%);
}

.swiper{
    width: 90%;
    height: 100%;
}

.swiper-wrapper{
    margin-block: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
}

.swiper-slide > div{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-block: 25px;
}

.swiper-slide img{
   height: 400px;
   width: 300px;
   transition: all 0.9s ease;
}

.swiper-slide-active img{
   height: 400px;
   width: 300px;
}

.swiper-slide .card-info{
    display: none;
    transition: all 0.9s ease;
}

.swiper-slide-active .card-info{
    display: flex;
    transition: all 0.9s ease;
}

@media (min-width: 640px) {
   .swiper{
        width: 90%;
        height: 100%;
   }

    .swiper-slide img{
       height: 350px;
       width: 300px;
    }

    .swiper-slide-active img{
       height: 400px;
       width: 310px;
    }
}

@media (min-width: 768px){
    .swiper{
        width: 100%;
        height: 100%;
   }
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 250px;
  width:20%;
  box-sizing: border-box;
}

.mySwiper .swiper-wrapper{
  display:flex;
  flex-direction: column;
  height:100%;
  margin: 0;
}

.mySwiper .swiper-slide {
  height: 20%;
  width:200px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

