@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "montserrat-regular";
    src: url("/fonts/montserrat-regular.woff");
}

@layer base{
    :root {
        --primary: #EE9591;
        --foreground: #333333;
        --background: #F4F5F7;
        --muted: #9F9F9F;
        --blue: #007AFF;
        --foreground-muted: #555555;
        --pink: #FF2D55;

        --foreground-pink: #EE9591;
        --foreground-purple: #AF52DE;
        --foreground-blue: #007AFF;

        --bg-pink: #EE9591;
        --bg-purple: #AF52DE;
        --bg-blue: #1E2FA9;

        --border-pink: #EE9591;
        --border-purple: #AF52DE;
        --border-blue: #007AFF;

        --font-regular: "monsterrat-regular";
    }
}

body{
    background-color: white;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
