@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --primary: #EE9591;
        --foreground: #333333;
        --background: #F4F5F7;
        --muted: #F9F1E7;
        --blue: #007AFF;
        --foreground-muted: #555555;
        --pink: #FF2D55;

        --foreground-pink: #EE9591;
        --foreground-purple: #AF52DE;
        --foreground-blue: #007AFF;

        --bg-pink: #EE9591;
        --bg-purple: #AF52DE;
        --bg-blue: #1E2FA9;

        --border-pink: #EE9591;
        --border-purple: #AF52DE;
        --border-blue: #007AFF;
        --border-muted: #555555;
        --px-xs: 0.75rem;
        --px-sm: 1rem;
        --px-md: 1.75rem;
        --px-lg: 2rem;
    }

    body{
        background-color: var(--background);
        color: var(--foreground);
    }

    .home-gradient{
        background: linear-gradient(white, #44AEE8 23%, white 55%, var(--primary) 75%, var(--pink) )
    }
}

.gradient-background{
    background: linear-gradient(to bottom right, var(--bg-pink) 30% ,white 70%);
}

.embla {
    overflow: hidden;
}

.embla__container {  
    display: flex;
}

.embla__slide { 
    flex: 0 0 100%;
    min-width: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
